.about-container{
    padding: 20px;
    text-align: center;
}
h2{
    font-size: 28px;
    margin-bottom: 20px;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.pic-image,
.pic2-image {
width: 250px;
height:250px;
object-fit: cover;
margin: 10px;
border-radius: 50%;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}