/* Main.css */
.main {
  grid-column: span 2;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.main h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}

.main p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.main span {
  color: #f39c12;
  font-weight: bold;
}

.main img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.p1,
.p2,
.p3 {
width: 250px;
height:250px;
object-fit: cover;
margin: 10px;
border-radius: 50%;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}